<form action="doJoin" method="POST" class="joinForm" onsubmit="DoJoinForm__submit(this); return false;">
    <head>
        <title>생생건강통 회원가입</title>
        <link rel="stylesheet" href="회원가입페이지1.css">
    </head>   
    <body>
        <h2>회원가입</h2>
        <div class="textForm">
        <input name="name" type="password" class="name" placeholder="이름">
        </div>
        <div class="textForm">
        <input name="cellphoneNo" type="number" class="cellphoneNo" placeholder="전화번호">
        </div>
        <div class="textForm">
        <input name="loginPw" type="password" class="pw" placeholder="비밀번호">
        </div>
        <div class="textForm">
        <input name="loginPwConfirm" type="password" class="pw" placeholder="비밀번호 확인">
        </div>
        
        <input type="button" class="btn" value="J O I N"
        onclick="location.href='../로그인창1/로그인창.html'">
    </body>                                                                           
    
  </form>