{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>
	{% else %}
	<h1>{{session['name']}}</h1>
	<a href="/logout">Logout</a> 
	<a href="/register">Register</a>
	<a href="/predict">predict</a> 
	<a href="/survey">Survey</a>
<br> <br>
	<form action="" method="POST">
	  <input type="username" name="username" placeholder="Instagram Username">
	  <input type="submit" value="Finds">
	</form>
	{% endif %}

{% else %}
<p>Not login!</p>

<a href="/login">Login</a> 
<a href="/register">Register</a>
<a href="/predict">predict</a> 
<a href="/survey">Survey</a>

{% endif %}
{% endblock %}