{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
   
	{% if data %}

	{% else %}
	<form action="" method="GET">
	  {{render_id}}
	</form>
	<h1>어 그래</h1>

	<a href="/logout">Logout</a> 
	<a href="/register">Register</a>
	<a href="/predict">predict</a> 
	<a href="/survey">Survey</a>
<br> <br>
	<form action="" method="POST">
	  <input type="username" name="username" placeholder="Instagram Username">
	  <input type="submit" value="Finds"><br>
	</form>
	{% endif %}

{% else %}
<p>Not login!</p>

<a href="/login">Login</a> 
<a href="/register">Register</a>
<a href="/predict">predict</a> 
<a href="/survey">Survey</a>

{% endif %}
{% endblock %}