<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<a href="javascript:kakaoLogin();"><img src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"/><a>
	<script src = "https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script>
	//ea69152211fa8c5a278f6daec69c7d98
	window.kakao.init("ea69152211fa8c5a278f6daec69c7d98");

	function kakaoLogin() {
		window.Kakao.Auth.login({
			scope:'profile_nickname, profile_image, account_email, gender, age_range',
			success : function(authObj){
				console.log(authObj);
				window.Kakao.API.request({
					url:'/v2/user/me',
					success: res=> {
						const kakao_account = res.kakao_account;
						console.log(kakao_account);

					}
				});

			}
		});
	}
	</script>

</body>
</html>
